:root {
  --blanco: #fff;
  --fondo-section2: #f6f6f6;
  --negro: #000;
  --negro-letra: #535659;
  --rojo: rgb(238, 9, 9);
  --azul: #0e0e68;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 75px 0;
  letter-spacing: 1.5px;
}

.about__container,
.footer__container,
.container-col {
  width: 90%;
  display: flex;
  /* align-items: center; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-col {
  flex-direction: column;
}

.about__figure {
  width: 45%;
}
.about__text-container {
  width: 55%;
}

.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__h2 {
  font-size: 36px;
  /* text-transform: uppercase; */
  font-weight: 400;
}

.section__h3 {
  font-weight: normal;
}

.section__h2::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 3px;
  background-color: var(--rojo);
  margin-top: 50px;
}

.section__h3::before,
.contacto__h3::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: var(--rojo);
  margin-top: 30px;
}

.section__p {
  color: var(--negro-letra);
}

.services {
  display: flex;
  flex-direction: column;
}

.box-services,
.box-galeria {
  padding: 0 15px;
}

.services,
.testimonios {
  background-color: var(--fondo-section2);
}

.icon-services {
  font-size: 40px;
  color: var(--rojo);
}

.box-galeria {
  width: 100%;
  max-width: 250px;
  height: 150px;
}

.services__grid-container,
.trabajos__grid-container{
  display: grid;
  grid-template-areas: "a b c d";
  margin-top: 50px;
}

.galeria__grid-container{
    margin: 30px auto;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;

}

.img-8{
    display: none;
}

.contacto__grid-container{
  display: grid;
  grid-template-areas: "a b c";
}



.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__p {
  font-size: 12px;
}

.ventas {
  text-align: center;
  font-weight: 700;
  color: rgb(14, 14, 104);
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.icon-ventas {
  font-size: 40px;
  margin: 0 10px;
}

.p__ventas2 {
  text-transform: uppercase;
  color: rgb(177, 41, 41);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.container-iframe{
    position: relative;
    overflow: hidden;
    width: 100%;
}

@media screen and (max-width: 380px) {
  .section__h2 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 424px) {
  .services__grid-container,
  .trabajos__grid-container,
  .galeria__grid-container,
  .contacto__grid-container {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .services__grid-container {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services__grid-container {
    grid-template-areas:
      "a b"
      "c d";
    grid-row-gap: 20px;
  }

}

@media screen and (min-width: 768px){
    .buttons{
        flex-direction: row;
        justify-content: center;
    }

    .galeria__grid-container{
        margin: 30px auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 250px));
        grid-gap: 20px;
    
    }

    .img-8{
        display: block;
    }
}

@media screen and (min-width: 425px) and (max-width: 1023px) {
  .trabajos__grid-container,
  .galeria__grid-container {
    grid-template-areas:
      "a b"
      "c d";
    grid-row-gap: 20px;
  }

  .contacto__grid-container {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 380px) {
  .section__h2 {
    font-size: 8vw;
  }

  .section__h2::before {
    content: "";
    width: 50vw;
    height: 3px;
    background-color: var(--rojo);
    margin-top: 7vh;
  }
}

@media screen and (max-width: 1023px) {
  .about__container {
    flex-direction: column;
    align-items: center;
  }

  .about__figure,
  .about__text-container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1110px) {
  .section__h3 {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .ventas {
    display: flex;
    padding: 50px 0;
  }

  .p__ventas2 {
    width: 50%;
  }
}
